<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51674426664-2ludsn5nfthl4o4qpv4u7bp0pv2n1sbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51674426664-2ludsn5nfthl4o4qpv4u7bp0pv2n1sbp</string>
	<key>API_KEY</key>
	<string>AIzaSyCfg2JWkSnXFZaY_JHHOerZyO_FRp8utiY</string>
	<key>GCM_SENDER_ID</key>
	<string>51674426664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juhwan976.facebook</string>
	<key>PROJECT_ID</key>
	<string>facebook-316f7</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-316f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51674426664:ios:74e0d8374382125a70341d</string>
</dict>
</plist>